<div class="ob-root">

  @if (step() === 1) {
    <adb-ob-welcome
      [userName]="userName"
      [userTitle]="userTitle"
      [userDept]="userDept"
      [avatarUrl]="avatarUrl"
      [progressDots]="progressDots"
      [activeDotStep]="activeDotStep()"
      (next)="nextStep()"
      (skip)="skipSetup()"
      (dotClick)="navigateToStep($event)"
    />
  }

  @if (step() === 2) {
    <adb-ob-personalize
      [topics]="topics"
      [freeText]="freeText"
      [progressDots]="progressDots"
      [activeDotStep]="activeDotStep()"
      (next)="nextStep()"
      (prev)="undo()"
      (topicToggle)="toggleTopic($event)"
      (freeTextChange)="freeText = $event"
      (dotClick)="navigateToStep($event)"
    />
  }

  <!-- @if (step() === 3) {
    <adb-ob-review
      [summary]="summary"
      [selectedTopics]="selectedTopics()"
      [progressDots]="progressDots"
      [activeDotStep]="activeDotStep()"
      (next)="nextStep()"
      (prev)="undo()"
      (dotClick)="navigateToStep($event)"
    />
  } -->

  @if (step() === 3) {
    <adb-ob-customise
      [firstNameOnly]="firstNameOnly"
      [modules]="homepageModules"
      [progressDots]="progressDots"
      [activeDotStep]="activeDotStep()"
      (next)="nextStep()"
      (prev)="undo()"
      (moduleToggle)="toggleModule($event)"
      (dotClick)="navigateToStep($event)"
    />
  }

  @if (step() === 4) {
    <adb-ob-loading />
  }

  @if (step() === 5) {
    <adb-ob-ready
      [avatarUrl]="avatarUrl"
      [orbitPills]="orbitPills()"
      (next)="nextStep()"
    />
  }

</div>
